:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:host .container {
  min-height: 100px;
  overflow-y: scroll;
  padding: 10px;
}

:host .container__list-tiles-flex {
  width: 100%;
}

:host .panel-path {
  margin-left: 8px;
}

.file-or-folder {
  padding: 10px;
  overflow: hidden;
}

.file-or-folder:hover {
  background-color: #eee;
}

.file-or-folder .side-menu-container {
  display: none;
}

.file-or-folder:hover .side-menu-container {
  display: block;
  width: 150px;
}

:host .side-menu:hover {
  color: #777;
}

.file-or-folder:hover .side-menu-container--list {
  text-align: right;
  position: absolute;
  right: 10px;
}

.file-or-folder.text-align-left {
  text-align: left;
}

.file-or-folder.max-item-height {
  max-height: 140px;
}
.file-or-folder__container {
  position: relative;
}

.file-or-folder-icon-tile {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.file-or-folder-icon-list {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.pointer {
  cursor: pointer;
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.text-ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
